# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *
import json
from datetime import datetime

In [2]:
conn = psycopg2.connect("host=127.0.0.1 port=5433 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
filepath = 'data\song_data'

In [5]:
song_files = get_files(filepath=filepath)

In [6]:
song_files[0]

'c:\\Users\\Chris\\Desktop\\Career\\Udacity Data Engineering\\Data Modeling\\ETL-Sparkify\\data\\song_data\\A\\A\\A\\TRAAAAW128F429D538.json'

In [7]:
# Create the DF with the first song file JSON
with open(song_files[0], 'r') as f:
    data = (json.load(f))
df = pd.DataFrame([data])

In [8]:
# Extract the rest of the song files and append them to the DF
for song in song_files[1:]:
    with open(song, 'r') as f:
        temp_df = pd.DataFrame([json.load(f)])
        df = df.append(temp_df)

In [9]:
df.head()

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARD7TVE1187B99BFB1,NaN,NaN,California - LA,Casual,SOMZWCG12A8C13C480,I Didn't Mean To,218.93179,0
0,1,ARMJAGH1187FB546F3,35.14968,-90.04892,"Memphis, TN",The Box Tops,SOCIWDW12A8C13D406,Soul Deep,148.03546,1969
0,1,ARKRRTF1187B9984DA,NaN,NaN,,Sonora Santanera,SOXVLOJ12AB0189215,Amor De Cabaret,177.47546,0
0,1,AR7G5I41187FB4CE6C,NaN,NaN,"London, England",Adam Ant,SONHOTT12A8C13493C,Something Girls,233.40363,1982
0,1,ARXR32B1187FB57099,NaN,NaN,,Gob,SOFSOCN12A8C143F5D,Face the Ashes,209.60608,2007

In [10]:
print(len(song_files))
print(df.shape)

71
(71, 10)

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [11]:
columns = ["song_id", "title", "artist_id", "year", "duration"]
df[columns].values[0]

array(['SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0,
       218.93179], dtype=object)

In [12]:
song_data = df[columns]
song_data

               song_id             title           artist_id  year   duration
0   SOMZWCG12A8C13C480  I Didn't Mean To  ARD7TVE1187B99BFB1     0  218.93179
0   SOCIWDW12A8C13D406         Soul Deep  ARMJAGH1187FB546F3  1969  148.03546
0   SOXVLOJ12AB0189215   Amor De Cabaret  ARKRRTF1187B9984DA     0  177.47546
0   SONHOTT12A8C13493C   Something Girls  AR7G5I41187FB4CE6C  1982  233.40363
0   SOFSOCN12A8C143F5D    Face the Ashes  ARXR32B1187FB57099  2007  209.60608
..                 ...               ...                 ...   ...        ...
0   SOINLJW12A8C13314C     City Slickers  AR8IEZO1187B99055E  2008  149.86404
0   SOGDBUF12A8C140FAA             Intro  AR558FS1187FB45658  2003   75.67628
0   SORRZGD12A6310DBC3    Harajuku Girls  ARVBRGZ1187FB4675A  2004  290.55955
0   SODAUVL12A8C13D184         Prognosis  ARWB3G61187FB49404  2000  363.85914
0   SOFCHDR12AB01866EF       Living Hell  AREVWGE1187B9B890A     0  282.43546

[71 rows x 5 columns]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [13]:
# cur.execute(song_table_insert, song_data)
# conn.commit()
for i, row in song_data.iterrows():
    cur.execute(song_table_insert, row.values)
    conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [14]:
columns = ["artist_id", "artist_name", "artist_location", "artist_latitude", "artist_longitude"]
df[columns].values[0]

array(['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan],
      dtype=object)

In [15]:
artist_data = df[columns]
artist_data

,artist_id,artist_name,artist_location,artist_latitude,artist_longitude
0,ARD7TVE1187B99BFB1,Casual,California - LA,NaN,NaN
0,ARMJAGH1187FB546F3,The Box Tops,"Memphis, TN",35.14968,-90.04892
0,ARKRRTF1187B9984DA,Sonora Santanera,,NaN,NaN
0,AR7G5I41187FB4CE6C,Adam Ant,"London, England",NaN,NaN
0,ARXR32B1187FB57099,Gob,,NaN,NaN
...,...,...,...,...,...
0,AR8IEZO1187B99055E,Marc Shaiman,,NaN,NaN
0,AR558FS1187FB45658,40 Grit,,NaN,NaN
0,ARVBRGZ1187FB4675A,Gwen Stefani,,NaN,NaN
0,ARWB3G61187FB49404,Steve Morse,"Hamilton, Ohio",NaN,NaN
0,AREVWGE1187B9B890A,Bitter End,Noci (BA),-13.44200,-41.99520

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [16]:
for i, row in artist_data.iterrows():
    cur.execute(artist_table_insert, row.values)
    conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [17]:
filepath = 'data\log_data'

In [18]:
log_files = get_files(filepath=filepath)

In [19]:
log_files[0]

'c:\\Users\\Chris\\Desktop\\Career\\Udacity Data Engineering\\Data Modeling\\ETL-Sparkify\\data\\log_data\\2018\\11\\2018-11-01-events.json'

In [20]:
logs = []
for line in open(log_files[0], 'r'):
    logs.append(json.loads(line))
logs[0]

{'artist': None,
 'auth': 'Logged In',
 'firstName': 'Walter',
 'gender': 'M',
 'itemInSession': 0,
 'lastName': 'Frye',
 'length': None,
 'level': 'free',
 'location': 'San Francisco-Oakland-Hayward, CA',
 'method': 'GET',
 'page': 'Home',
 'registration': 1540919166796.0,
 'sessionId': 38,
 'song': None,
 'status': 200,
 'ts': 1541105830796,
 'userAgent': '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"',
 'userId': '39'}

In [21]:
# Create the DF with the first log file JSON
# with open(log_files[0], 'r') as f:
#     data = (json.load(f))
df = pd.DataFrame([logs[0]])
df

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,None,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1.540919e+12,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39

In [22]:
# Extract the rest of the log files and append them to the DF
for log in logs[1:]:
    temp_df = pd.DataFrame([log])
    df = df.append(temp_df)

In [23]:
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,None,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1.540919e+12,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39
0,None,Logged In,Kaylee,F,0,Summers,None,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1.540345e+12,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
0,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
0,None,Logged In,Kaylee,F,2,Summers,None,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Upgrade,1.540345e+12,139,None,200,1541106132796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
0,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [24]:
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,None,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1.540919e+12,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39
0,None,Logged In,Kaylee,F,0,Summers,None,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1.540345e+12,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
0,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
0,None,Logged In,Kaylee,F,2,Summers,None,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Upgrade,1.540345e+12,139,None,200,1541106132796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
0,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [25]:
t = df[df['page']=='NextSong']
t.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
0,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
0,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Quem Quiser Encontrar O Amor,200,1541106496796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
0,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Eriatarka,200,1541106673796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
0,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.2673,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Becoming Insane,200,1541107053796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [26]:
columns = ["ts"]
t[columns].values[0]

array([1541106106796], dtype=int64)

In [27]:
t = t[columns]
t.head()

              ts
0  1541106106796
0  1541106352796
0  1541106496796
0  1541106673796
0  1541107053796

In [28]:
time_dict = {"start_time": [],
             "hour": [],
             "day": [],
             "week": [],
             "month": [],
             "year": [],
             "weekday": []}

In [29]:
timestamps = [datetime.utcfromtimestamp(x/1000) for x in t["ts"]]
time_dict["start_time"] = [x.strftime('%Y-%m-%dT%H:%M:%S.%f') for x in timestamps]
time_dict["start_time"]

['2018-11-01T21:01:46.796000',
 '2018-11-01T21:05:52.796000',
 '2018-11-01T21:08:16.796000',
 '2018-11-01T21:11:13.796000',
 '2018-11-01T21:17:33.796000',
 '2018-11-01T21:24:53.796000',
 '2018-11-01T21:28:54.796000',
 '2018-11-01T21:42:00.796000',
 '2018-11-01T21:52:05.796000',
 '2018-11-01T21:55:25.796000',
 '2018-11-01T22:23:14.796000']

In [30]:
# Have to divide by 1000 to convert milliseconds timestamp to seconds
timestamps = [datetime.utcfromtimestamp(x/1000) for x in t["ts"]]
time_dict["start_time"] = [x.strftime('%Y-%m-%dT%H:%M:%S.%f') for x in timestamps]

# Add hour
time_dict["hour"] = [x.hour for x in timestamps]
# Add day
time_dict["day"] = [x.day for x in timestamps]
# Add week
time_dict["week"] = [x.isocalendar()[1] for x in timestamps]
# Add month
time_dict["month"] = [x.month for x in timestamps]
# Add year
time_dict["year"] = [x.year for x in timestamps]
# Add weekday
time_dict["weekday"] = [x.weekday() for x in timestamps]
time_dict

{'start_time': ['2018-11-01T21:01:46.796000',
  '2018-11-01T21:05:52.796000',
  '2018-11-01T21:08:16.796000',
  '2018-11-01T21:11:13.796000',
  '2018-11-01T21:17:33.796000',
  '2018-11-01T21:24:53.796000',
  '2018-11-01T21:28:54.796000',
  '2018-11-01T21:42:00.796000',
  '2018-11-01T21:52:05.796000',
  '2018-11-01T21:55:25.796000',
  '2018-11-01T22:23:14.796000'],
 'hour': [21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22],
 'day': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
 'week': [44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44],
 'month': [11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11],
 'year': [2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018],
 'weekday': [3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]}

In [31]:
# cur.execute(time_table_insert, time_data)
# conn.commit()

In [32]:
# time_data = ()
# column_labels = ()

In [33]:
time_df = pd.DataFrame.from_dict(time_dict)

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [34]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [35]:
columns = ["userId", "firstName", "lastName", "gender", "level"]
df[columns].values

array([['39', 'Walter', 'Frye', 'M', 'free'],
       ['8', 'Kaylee', 'Summers', 'F', 'free'],
       ['8', 'Kaylee', 'Summers', 'F', 'free'],
       ['8', 'Kaylee', 'Summers', 'F', 'free'],
       ['8', 'Kaylee', 'Summers', 'F', 'free'],
       ['8', 'Kaylee', 'Summers', 'F', 'free'],
       ['8', 'Kaylee', 'Summers', 'F', 'free'],
       ['8', 'Kaylee', 'Summers', 'F', 'free'],
       ['8', 'Kaylee', 'Summers', 'F', 'free'],
       ['8', 'Kaylee', 'Summers', 'F', 'free'],
       ['10', 'Sylvie', 'Cruz', 'F', 'free'],
       ['26', 'Ryan', 'Smith', 'M', 'free'],
       ['26', 'Ryan', 'Smith', 'M', 'free'],
       ['26', 'Ryan', 'Smith', 'M', 'free'],
       ['101', 'Jayden', 'Fox', 'M', 'free']], dtype=object)

In [36]:
user_df = df[columns]

In [37]:
for i, row in user_df.iterrows():
    print(row.values)

['39' 'Walter' 'Frye' 'M' 'free']
['8' 'Kaylee' 'Summers' 'F' 'free']
['8' 'Kaylee' 'Summers' 'F' 'free']
['8' 'Kaylee' 'Summers' 'F' 'free']
['8' 'Kaylee' 'Summers' 'F' 'free']
['8' 'Kaylee' 'Summers' 'F' 'free']
['8' 'Kaylee' 'Summers' 'F' 'free']
['8' 'Kaylee' 'Summers' 'F' 'free']
['8' 'Kaylee' 'Summers' 'F' 'free']
['8' 'Kaylee' 'Summers' 'F' 'free']
['10' 'Sylvie' 'Cruz' 'F' 'free']
['26' 'Ryan' 'Smith' 'M' 'free']
['26' 'Ryan' 'Smith' 'M' 'free']
['26' 'Ryan' 'Smith' 'M' 'free']
['101' 'Jayden' 'Fox' 'M' 'free']

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [38]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row.values)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [39]:
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,None,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1.540919e+12,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39
0,None,Logged In,Kaylee,F,0,Summers,None,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1.540345e+12,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
0,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
0,None,Logged In,Kaylee,F,2,Summers,None,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Upgrade,1.540345e+12,139,None,200,1541106132796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
0,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [40]:
songplays = df[df["page"] == "NextSong"]
songplays.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
0,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
0,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Quem Quiser Encontrar O Amor,200,1541106496796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
0,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Eriatarka,200,1541106673796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
0,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.2673,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,Becoming Insane,200,1541107053796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [41]:
for index, row in songplays.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    print(results)

None
None
None
None
None
None
None
None
None
None
None

In [42]:
for index, row in songplays.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    # songplayid = 
    time_stamp = datetime.utcfromtimestamp(row.ts/1000).strftime('%Y-%m-%dT%H:%M:%S.%f')
    userid = row.userId
    level = row.level
    sessionid = row.sessionId
    location = row.location
    useragent = row.userAgent
    songplay_data = (time_stamp, userid, level, songid, artistid, sessionid, location, useragent)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [43]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.