In [53]:
import psycopg2

In [54]:
conn = psycopg2.connect("host=127.0.0.1 port=5433 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [55]:
cur.execute('SELECT * FROM songplays ORDER BY songplays.songplay_id ASC LIMIT 5;')
results = cur.fetchall()
results

[(12,
  datetime.datetime(2018, 11, 2, 1, 25, 34, 796000),
  101,
  'free',
  None,
  None,
  184,
  'New Orleans-Metairie, LA',
  '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (13,
  datetime.datetime(2018, 11, 2, 1, 30, 41, 796000),
  83,
  'free',
  None,
  None,
  82,
  'Lubbock, TX',
  '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (14,
  datetime.datetime(2018, 11, 2, 1, 34, 17, 796000),
  83,
  'free',
  None,
  None,
  82,
  'Lubbock, TX',
  '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (15,
  datetime.datetime(2018, 11, 2, 2, 42, 48, 796000),
  66,
  'free',
  None,
  None,
  153,
  'Harrisburg-Carlisle, PA',
  '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (16,
  datetime.datetime(2018, 11, 2, 3, 5, 57, 796000),
  48,
  'free',
  None,
  None,
  47,
  'Salinas, CA',
  '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [56]:
cur.execute('SELECT * FROM songplays ORDER BY songplays.songplay_id DESC LIMIT 5;')
results = cur.fetchall()
results

[(6422,
  datetime.datetime(2018, 11, 30, 14, 33, 53, 796000),
  101,
  'free',
  None,
  None,
  1060,
  'New Orleans-Metairie, LA',
  '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (6421,
  datetime.datetime(2018, 11, 30, 14, 33, 39, 796000),
  49,
  'paid',
  None,
  None,
  1096,
  'San Francisco-Oakland-Hayward, CA',
  'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (6420,
  datetime.datetime(2018, 11, 30, 14, 31, 15, 796000),
  85,
  'paid',
  None,
  None,
  977,
  'Red Bluff, CA',
  '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (6419,
  datetime.datetime(2018, 11, 30, 14, 28, 26, 796000),
  49,
  'paid',
  None,
  None,
  1096,
  'San Francisco-Oakland-Hayward, CA',
  'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (6418,
  datetime.datetime(2018, 11, 30, 14, 27, 42, 796000),
  85,
  'paid',
  None,
  None,
  977,
  'Red Bluff, CA',
  '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

In [57]:
cur.execute('SELECT * FROM users ORDER BY users.user_id ASC LIMIT 5;')
results = cur.fetchall()
results

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free')]

In [58]:
cur.execute('SELECT * FROM users ORDER BY users.user_id DESC LIMIT 5;')
results = cur.fetchall()
results

[(101, 'Jayden', 'Fox', 'M', 'free'),
 (100, 'Adler', 'Barrera', 'M', 'free'),
 (99, 'Ann', 'Banks', 'F', 'free'),
 (98, 'Jordyn', 'Powell', 'F', 'free'),
 (97, 'Kate', 'Harrell', 'F', 'paid')]

In [59]:
cur.execute('SELECT * FROM songs ORDER BY songs.song_id ASC LIMIT 5;')
results = cur.fetchall()
results

[('SOAOIBZ12AB01815BE',
  'I Hold Your Hand In Mine [Live At Royal Albert Hall]',
  'ARPBNLO1187FB3D52F',
  2000,
  43.36281),
 ('SOBAYLL12A8C138AF9',
  'Sono andati? Fingevo di dormire',
  'ARDR4AC1187FB371A1',
  0,
  511.16364),
 ('SOBBUGU12A8C13E95D',
  'Setting Fire to Sleeping Giants',
  'ARMAC4T1187FB3FA4C',
  2004,
  207.77751),
 ('SOBBXLX12A58A79DDA',
  'Erica (2005 Digital Remaster)',
  'AREDBBQ1187B98AFF5',
  0,
  138.63138),
 ('SOBCOSW12A8C13D398',
  'Rumba De Barcelona',
  'AR7SMBG1187B9B9066',
  0,
  218.38322)]

In [60]:
cur.execute('SELECT * FROM songs ORDER BY songs.song_id DESC LIMIT 5;')
results = cur.fetchall()
results

[('SOZVMJI12AB01808AF', 'Synthetic Dream', 'ARNPAGP1241B9C7FD4', 0, 165.69424),
 ('SOZQDIU12A58A7BCF6',
  'Superconfidential',
  'ARNTLGG11E2835DDB9',
  0,
  338.31137),
 ('SOZHPGD12A8C1394FE', 'Baby Come To Me', 'AR9AWNF1187B9AB0B4', 0, 236.93016),
 ('SOZCTXZ12AB0182364', 'Setanta matins', 'AR5KOSW1187FB35FF4', 0, 269.58322),
 ('SOYTPEP12AB0180E7B',
  'Twist and Shout',
  'ARAJPHH1187FB5566A',
  1964,
  164.80608)]

In [61]:
cur.execute('SELECT * FROM artists ORDER BY artists.artist_id ASC LIMIT 5;')
results = cur.fetchall()
results

[('AR051KA1187B98B2FF', 'Wilks', '', None, None),
 ('AR0IAWL1187B9A96D0', 'Danilo Perez', 'Panama', 8.4177, -80.11278),
 ('AR0RCMP1187FB3F427',
  'Billie Jo Spears',
  'Beaumont, TX',
  30.08615,
  -94.10158),
 ('AR10USD1187B99F3F1',
  'Tweeterfriendly Music',
  'Burlington, Ontario, Canada',
  None,
  None),
 ('AR1Y2PT1187FB5B9CE', 'John Wesley', 'Brandon', 27.94017, -82.32547)]

In [62]:
cur.execute('SELECT * FROM artists ORDER BY artists.artist_id ASC LIMIT 5;')
results = cur.fetchall()
results

[('AR051KA1187B98B2FF', 'Wilks', '', None, None),
 ('AR0IAWL1187B9A96D0', 'Danilo Perez', 'Panama', 8.4177, -80.11278),
 ('AR0RCMP1187FB3F427',
  'Billie Jo Spears',
  'Beaumont, TX',
  30.08615,
  -94.10158),
 ('AR10USD1187B99F3F1',
  'Tweeterfriendly Music',
  'Burlington, Ontario, Canada',
  None,
  None),
 ('AR1Y2PT1187FB5B9CE', 'John Wesley', 'Brandon', 27.94017, -82.32547)]

In [63]:
cur.execute('SELECT * FROM time ORDER BY time.start_time ASC LIMIT 5;')
results = cur.fetchall()
results

[(datetime.datetime(2018, 11, 1, 21, 1, 46, 796000),
  21.0,
  1.0,
  44.0,
  11.0,
  2018.0,
  3.0),
 (datetime.datetime(2018, 11, 1, 21, 5, 52, 796000),
  21.0,
  1.0,
  44.0,
  11.0,
  2018.0,
  3.0),
 (datetime.datetime(2018, 11, 1, 21, 8, 16, 796000),
  21.0,
  1.0,
  44.0,
  11.0,
  2018.0,
  3.0),
 (datetime.datetime(2018, 11, 1, 21, 11, 13, 796000),
  21.0,
  1.0,
  44.0,
  11.0,
  2018.0,
  3.0),
 (datetime.datetime(2018, 11, 1, 21, 17, 33, 796000),
  21.0,
  1.0,
  44.0,
  11.0,
  2018.0,
  3.0)]

In [64]:
cur.execute('SELECT * FROM time ORDER BY time.start_time DESC LIMIT 5;')
results = cur.fetchall()
results

[(datetime.datetime(2018, 11, 30, 19, 54, 24, 796000),
  19.0,
  30.0,
  48.0,
  11.0,
  2018.0,
  4.0),
 (datetime.datetime(2018, 11, 30, 18, 51, 24, 796000),
  18.0,
  30.0,
  48.0,
  11.0,
  2018.0,
  4.0),
 (datetime.datetime(2018, 11, 30, 18, 47, 58, 796000),
  18.0,
  30.0,
  48.0,
  11.0,
  2018.0,
  4.0),
 (datetime.datetime(2018, 11, 30, 18, 44, 36, 796000),
  18.0,
  30.0,
  48.0,
  11.0,
  2018.0,
  4.0),
 (datetime.datetime(2018, 11, 30, 18, 40, 5, 796000),
  18.0,
  30.0,
  48.0,
  11.0,
  2018.0,
  4.0)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [65]:
conn.close()